<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>

    <div id="app">

        <table class="table table-striped col-md-10 mx-auto my-10">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Location</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, index) in arr" :key="index">
                    <th>{{ item.id}}</th>
                    <th>{{ item.name}}</th>
                    <th>{{ item.location}}</th>
                    <th>
                        <button class="btn btn-danger" @click="userDelete(index)"><i class="fa fa-trash"></i></button>
                        <button class="btn btn-primary" @click="userUpdate(index)">Edit</button>
                    </th>

                </tr>

            </tbody>

        </table>
        <div class=" text-center"> 
            <button class="btn btn-primary col-md-10" @click="add()">Add New User</button>
        </div>
        
        <div v-if="render" class="div">
            <div class="pop mx-auto col-md-6 text-center">
                <input type="text" v-model="arr[i].id" class="form-control col-md-10"><br>
                <input type="text" v-model="arr[i].name" class="form-control col-md-10"><br>
                <input type="text" v-model="arr[i].location" class="form-control col-md-10"><br>
                <button class="btn btn-primary col-md-10" @click="submit()">Update</button>
            </div>

        </div>
        <div v-if="rendered" class="div">
            <div class="pop mx-auto col-md-6 text-center">
                <input type="text" v-model="newtest[0].id" class="form-control col-md-10"><br> 
                <input type="text" v-model="newtest[0].name" class="form-control col-md-10"><br> 
                <input type="text" v-model="newtest[0].location" class="form-control col-md-10"><br>
                <button class="btn btn-primary col-md-10" @click="insert(newtest)">Add</button>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="script.js"></script>
</body>

</html>